@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<div>
    <div class="from-group">
        <label class="col-form-lable" asp-for="Code">  </label>
        <input asp-for="Code" class=" form-control"readonly/>


    </div>
    <div class="from-group">
        <label class="col-form-lable" asp-for="Name">  </label>
        <input asp-for="Name" class=" form-control" readonly/>
       
    </div>
    <div class="from-group">
        <label class="col-form-lable" asp-for="DateOfCreation">  </label>
        <input asp-for="DateOfCreation" class=" form-control" readonly/>
      
    </div>

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index"class="btn btn-light"back to list> </a>
    <div/>

