@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create new Employee</h1>
<br />
<br />
<form action="/Employee/Create" method="post">

    <div class="from-group">
        <label class="col-form-label" asp-for="Name">  </label>
        <input asp-for="Name" class=" form-control" />
        <span asp-validation-for="Name" class="text-danger">  </span>

    </div>

    <div class="from-group">
        <label class="col-form-label" asp-for="Age">  </label>
        <input asp-for="Age" class=" form-control" />
        <span asp-validation-for="Age" class="text-danger">  </span>

    </div>

    <div class="from-group">
        <label class="col-form-label" asp-for="Adress">  </label>
        <input asp-for="Adress" class=" form-control" />
        <span asp-validation-for="Adress" class="text-danger">  </span>

    </div>

    <div class="form-check">
        <input asp-for="Salary" class=" form-check-input" />
        <label class="col-form-label" asp-for="Salary">  </label>
       

    </div>

    <div class="from-group">
        <label class="col-form-label" asp-for="IsActive">  </label>
        <input asp-for="IsActive" class=" form-control" />
        <span asp-validation-for="IsActive" class="text-danger">  </span>

    </div>

    <div class="from-group">
        <label class="col-form-label" asp-for="Email">  </label>
        <input asp-for="Email" class=" form-control" />
        <span asp-validation-for="Email" class="text-danger">  </span>

    </div>

    <div class="from-group">
        <label class="col-form-label" asp-for="PhoneNumber">  </label>
        <input asp-for="PhoneNumber" class=" form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger">  </span>

    </div>

    <div class="from-group">
        <label class="col-form-label" asp-for="Hiredate">  </label>
        <input asp-for="Hiredate" class=" form-control" />
        <span asp-validation-for="Hiredate" class="text-danger">  </span>

    </div>

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index"class="btn btn-light"back to list> </a>




</form>

